body
{
    background-size: cover;
}

.heading h3 {
    display: inline;
}

.heading button {
    float: right;
}

.heading {
    width: 100%;
    text-align: left;
}

#status {
    font-size: 22px;
}

.modal-dialog {
    width: 90%;
}

.footer {
    position: fixed;
    background-color: gray;
    width: 100%;
}